*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    color: #545454;
   display: flex;
   font-family: sans-serif;
   justify-content: center;  
}
.Container {

    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;

    /* background:#14BDAC; */
    background: #ff781f;
  
    margin: 50px;
    padding: 50px;
    border-radius: 35px;
   
    /* width: 500px;
    height: 500px; */
}
.title {
    text-align: center;


}
.title span {
 color: blanchedalmond;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font: 28px;
    justify-content: space-around;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: cornsilk;
}

.game-grid {
    /* background: #0DA192; */
    background: #ffaf7a;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 5px;
    margin-top: 50px;
    
    
}

.game-cell {
    /* background:#14BDAC; */
    background:  #ff781f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100px;
    width: 100px;
    
}

.x::before {
    content: '✕';
    font-size: 50px;
    font-weight: bold;
    
}

.o::before {
    content: '○';
    font-size: 100px;
    color: cornsilk;
    
}